body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: #324a4a;
  padding: 10px;
  text-align: center;
  width: 50vw;
  height: 500px;
  border-radius: 5px;
}

.img {
  border-radius: 10px;
}
